player-connection-mode=Listen
player-connection-guid=1716835490
player-connection-debug=0
player-connection-project-name=Test PhotoPun
player-connection-ip=192.168.26.25
player-connection-ip=192.168.231.1
player-connection-ip=192.168.113.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3a87a45c2a814a49b4c992e58297fa42
